h1{
    color: coral;
}

h2{
    color: dodgerblue;
}

h3{
    color: cornflowerblue;
}

span{
    background-color: lightgoldenrodyellow;
}

div{
    border-color: lightblue;
    border-width: 2px;
    border-style: groove;
    padding-left: 5px;
}