h1{
    color: coral;
}

h3{
    color: cornflowerblue;
}

span{
    background-color: lightgoldenrodyellow;
}

div{
    border-color: orange;
    border-width: 10px;
    border-style: double;
    padding-left: 5px;
}